@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Integrantes:
		<ul>
			<li>Dylan Bejarano Gutiérrez</li>
			<li>Michael Villalobos Barquero</li>
			<li>Minor Lozano Rodriguez</li>
		</ul>
</div>
